@{
    ViewData["Title"] = "Film Page";
}

<div class="container">
    <header class="site-header">
        <h1 class="site-title">Fresh Cucumbers</h1>
    </header>

    <div class="column two-thirds">
        <iframe src="https://embed.api.video/vod/vi2bkUBe85mmq48DkBqk0U1g" width="800" height="533" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
        <h1 class="entry-title">Dune</h1>
        <p>2021</p>
        <p>Director: Denis Villeneuve</p>
        <p>Scenarist: Jon Spaihts, Denis Villeneuve, Eric Roth</p>
        <blockquote><p>Paul Atreides, a brilliant and gifted young man born into a great destiny beyond his understanding, must travel to the most dangerous planet in the universe to ensure the future of his family and his people. As malevolent forces explode into conflict over the planet exclusive supply of the most precious resource in existence, only those who can conquer their own fear will survive</p></blockquote>
        <p>Cast: Timothée Chalamet, Rebecca Ferguson, Oscar Isaac, Jason Momoa, Stellan Skarsgård</p>
    </div>
</div>

<style>
    body {
        background: #fff;
        margin: 0;
        letter-spacing: 1px;
    }

    html {
        border: 7px solid #2a7831;
    }

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .container {
        margin: 0 auto;
        width: 960px;
    }

    .column {
        float: left;
        margin-bottom: 0;
        padding: 0 15px;
    }

        .column.two-thirds {
            width: 66.7%;
        }

        .column.third {
            width: 33.3%;
        }

    .site-header {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .site-title {
        font-family: 'Herr Von Muellerhoff';
        font-size: 60px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    .widget-title {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 1.5em;
        color: #666666;
    }

    blockquote {
        border-left: 5px solid #2a7831;
        margin-bottom: 20px;
        padding: 10px 20px;
    }

    iframe {
        height: auto;
        max-width: 100%;
        padding: 1em 0 0em 0;
    }

    .wpcf7 input[type="text"], .wpcf7 textarea {
        background-color: #e6e6e6;
        border: 1px solid #e6e6e6;
        padding: 10px;
        width: 100%;
    }

        .wpcf7 input[type="text"]:focus, .wpcf7 textarea:focus {
            background-color: #fff;
            color: #111;
        }

    .wpcf7 input[type="submit"] {
        border: 1px solid #4d4d4d;
        background: #4d4d4d;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1;
        padding: 1em 1em 0.9em;
        width: 100%;
        transition: all 0.2s ease-in-out;
    }

        .wpcf7 input[type="submit"]:hover {
            opacity: 0.6;
            transition: all 0.2s ease-in-out;
        }

    .entry-title {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.4;
        text-transform: uppercase;
    }
</style>