﻿@using OnlineCinema.Models
@model Film


@{
    ViewData["Title"] = "Film Page";

}

<div class="container">
    <header class="site-header">
        <h1 class="site-title">Fresh Cucumbers</h1>
    </header>

    <div class="column two-thirds">
        <iframe src="@Model.FilmTrailer" width="1000" height="533" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
        <h1 class="entry-title">e</h1>
        <p>r</p>
        <p>Director: @Model.Director</p>
        <p>Screenwriter: @Model.Scenarist</p>
        <blockquote><p>n</p></blockquote>
        <p>s</p>
    </div>
</div>


<style>
    body {
        background: #fff;
        letter-spacing: 1px;
    }

    html {
        border: 7px solid #2a7831;
    }

    .container {
        margin: 0 auto;
        width: 960px;
    }

    .column {
        float: left;
        margin-bottom: 0;
        padding: 0 15px;
    }

        .column.two-thirds {
            width: 66.7%;
        }

    .site-header {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .site-title {
        font-family: 'Herr Von Muellerhoff';
        font-size: 60px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        margin-bottom: 1.5em;
        color: #666666;
    }

    blockquote {
        border-left: 5px solid #2a7831;
        margin-bottom: 20px;
        padding: 10px 20px;
    }

    .entry-title {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.4;
        text-transform: uppercase;
    }
</style>