﻿@using OnlineCinema.Models
@model IEnumerable<Film>

@{
    ViewData["Title"] = "Online Cinema";
}

<div class="container">
    <header class="site-header">
        <h1 class="site-title">Fresh Cucumbers</h1>

        <nav class="search-bar">
            <ul class="menu">
                <form method="get">
                    <li><input class="FindTextBox" type="text" placeholder="Find movie..." name="filmName"></li>
                    <li><input class="FindButton" type="submit" value="Find"></li>
                </form>
            </ul>
        </nav>
        <h2>@Model.Count() movies found</h2>
    </header>
    <form>
        <select id="genreSelect" name="genre">
            <option value="">All genres</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Family">Family</option>
            <option value="History">History</option>
            <option value="Mistery">Mistery</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="War">War</option>
            <option value="Western">Western</option>
            <option value="Adventure">Adventure</option>
            <option value="Crime">Crime</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Thriller">Thriller</option>
        </select><br/>
        <input type="number" name="releaseYear" placeholder="Release Year..."></input><br/>        
        <button type="submit">Filter</button>
    </form>
    <div class="film-grid">
@foreach (var film in Model){
        <div>
            <img src="@film.FilmPoster" alt="Film Poster Image" />
            <a class="entry-title" href="Home/FilmPage?id=@film.ID">@film.FilmName</a>
            </div>
}
    </div>
</div>

<style>
    body {
        background: #fff;
        margin: 0;
        letter-spacing: 1px;
    }

    html {
        border: 7px solid #2a7831;
    }

    .container {
        margin: 0 auto;
        width: 960px;
    }

    .site-header {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .site-title {
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: 20px;
        text-align: center;
    }

    .menu {
        display: table;
        margin: 0 auto;
        color: black;
    }

    .search-bar {
        background-color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 15px 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
        text-transform: uppercase;
    }

    .search-bar li {
        display: inline;
        float: left;
        margin: 0 1em;
        position: relative;
     }

    .film-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 54px;
        margin-left: 0;
        margin-right: 0;
        padding: 20px 0;
    }


    .film-grid img {
        height: 300px;
        max-width: 200px;
        object-fit: cover;
    }

    .film-grid .entry-title {
        font-size: 14px;
        color: #111;
        font-weight: 400;
        text-align: center; 
        margin-top: 10px;
        display: block;
        width: 100%; 
    }

    .entry-title {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #222;
        text-decoration: none;
    }

    .FindTextBox, .FindTextBox textarea {
        background-color: #e6e6e6;
        border: 1px solid #e6e6e6;
        padding: 10px;
        width: 500px;
    }

    .FindTextBox:focus, .FindTextBox textarea:focus {
        background-color: #fff;
        color: #111;
    }

    .FindButton {
        border: 1px solid #2a7831;
        border-radius: 2px;
        background: #2a7831;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-size: 1.4rem;
        transition: all 0.2s ease-in-out;
        height: 35px;
        width: 100px;
    }

    .FindButton:hover {
        opacity: 0.6;
        transition: all 0.2s ease-in-out;
    }
</style>